body { margin: 0; }

#header { z-index:79; }

#footer { text-align: center; margin-top: 20px; }

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    /* background: #ffffff; */
    background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
    background: #323232;
}