body {
    margin: 0;
    overflow-x: hidden;
}

#header {
    z-index: 79;
}

#hamburgermenu {
    z-index: 85;
}

.openbtn {
    z-index: 86;
}

#footer1 {
    text-align: center;
    margin-top: 20px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    /* background: #ffffff; */
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: #323232;
}

/*  */
#home {
    background-color: antiquewhite;
}

#guidance {
    background-color: antiquewhite;
}